@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

/* General */

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background: #f2f2f2;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  flex-grow: 1;
  background-color: #ffffff;
  position: relative;
}

.page {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Pages */

/* Components */

.button {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  min-height: 36px;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 14px;
  cursor: pointer;
  display: block;
}

button.button {
  margin: 0;
  border: none;
}

a.button {
  text-decoration: none;
  box-sizing: border-box;
}

.button-round-left-none {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.button-color-brown {
  background-color: #756157;
}

.button-color-blue {
  background-color: #82b3d3;
}

.button-color-green {
  background-color: #7db54f;
}

.button-color-transparent {
  background-color: transparent;
}


.button.button-color-brown:active,
.button.button-color-blue:active,
.button.button-color-green:active,
.button.button-color-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-color-brown.button:hover {
  background-color: #615048;
}

.button-color-brown.button:focus {
  background-color: #615048;
}

.button-color-blue.button:hover {
  background-color: #68a2ca;
}

.button-color-blue.button:focus {
  background-color: #68a2ca;
}

.button-color-green.button:hover {
  background-color: #6c9e42;
}

.button-color-green.button:focus {
  background-color: #6c9e42;
}

.button-color-transparent.button:hover {
  opacity: 0.6;
}

.button-color-transparent.button:focus {
  box-shadow: 0 0 3px rgba(131, 179, 211, 1);
}

.button-color-transparent.button:active {
  opacity: 0.3;
}

.button.button-color-brown:disabled,
.button.button-color-brown.button-disabled,
.button.button-color-blue:disabled,
.button.button-color-blue.button-disabled,
.button.button-color-green:disabled,
.button.button-color-green.button-disabled,
.button.button-color-transparent:disabled,
.button.button-color-transparent.button-disabled {
  cursor: auto;
  color: #ffffff;
}

.button.button-color-brown:disabled,
.button.button-color-brown.button-disabled,
.button.button-color-blue:disabled,
.button.button-color-blue.button-disabled,
.button.button-color-green:disabled,
.button.button-color-green.button-disabled {
  background: #e5e5e5;
}

.button-size-big {
  border-radius: 10px;
  min-height: 60px;
  font-size: 20px;
  line-height: 24px;
  padding: 18px 20px;
}

.button-size-medium {
  border-radius: 4px;
  min-height: 52px;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

/* Header */

.page-header {
  z-index: 1;
  position: relative;
  color: #000000;
  background: #ffffff;
}

.navigation {
  width: 1200px;
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  max-width: 610px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 28px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding: 0;

}

.navigation-logo {
  margin-left: 70px;
  margin-bottom: -10px;
}

.navigation-user {
  min-width: 300px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding: 0;
}

.navigation ul {
  list-style: none;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  padding: 20px 16px;
  position: relative;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-header:hover,
.navigation-header:focus {
  color: #756157;
}

.navigation-header:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current::after {
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
  display: block;
}

.navigation-user .navigation-link {
  padding: 22px 12px;
  height: 20px;
  width: 20px;
}

.count {
  position: absolute;
  top: 11px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: auto;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
}

.header-button {
  display: block;
  margin-top: 14px;
  margin-right: 70px;
  margin-left: 20px;
  width: 160px;
}

/* body */

.presentation {
  background: url("../images/content/background.jpg") center no-repeat;
  background-size: cover;
  background-color: #000000;
  min-height: 485px;
  position: relative;
}

.presentation-picture-welcome {
  padding-top: 51px;
  margin: auto;
  display: block;
}

.presentation::after {
  content: "";
  background: url("../images/content/divider.svg") no-repeat;
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 57px;
}

.presentation-text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 70px;
  height: 213px;
}

.presentation-text-sedona {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 0;
}

.presentation-text-reason {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

/* Advantages Blocks*/

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.grid-item {
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  width: 33.33%;
  min-height: 384px;
}

.grid-item-wide {
  width: 100%;
}

.grid-item-type-1 {
  background-color: #f0f6fa;
}

.grid-item-type-2 {
  background-color: #e6f0f6;
}

.grid-item-type-3 {
  background-color: #82b3d3;
}

.grid-item-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.grid-item-description {
  color: #333333;
  margin-top: 0;
  margin-bottom: 0;
}

.grid-item-type-3 .grid-item-title,
.grid-item-type-3 .grid-item-description {
  color: #ffffff;
}

.cell {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.cell-icon {
  margin-bottom: 30px;
}

.cell-icon-housing {
  background: url("../images/icons/hotel.svg") center no-repeat;
  width: 75px;
  height: 72px;
}

.cell-icon-food {
  background: url("../images/icons/food.svg") center no-repeat;
  width: 74px;
  height: 70px;
}

.cell-icon-gifts {
  background: url("../images/icons/souvenirs.svg") center no-repeat;
  width: 64px;
  height: 76px;
}

.cell-title {
  margin-bottom: 30px;
  margin-top: 0;
}

.cell-divider {
  margin-bottom: 30px;
  width: 58px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 0;
}

.grid-item-type-3 .cell-divider {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.advantages {
  text-align: center;
}

.advantages ul {
  list-style: none;
}

.advantage {
  padding-bottom: 19px;
}

/* Find Hotel */

.hotel-search {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 96px;
  padding-bottom: 95px;
}

.hotel-search-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}

.hotel-search-info {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin-bottom: 54px;
  margin-top: 0;
}

.hotel-search-wrapper {
  margin: 0 auto 96px;
}

/* Footer subscription*/

.subscription {
  background: #ffffff;
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 104px;
  padding-top: 96px;
}

.subscription-homepage {
  background: #000000 url("../images/content/subscribe-background.jpg") center/cover no-repeat;
}

.subscription-form {
  display: flex;
  min-height: 52px;
  margin: 0 auto;
  justify-content: center;
}

.mailing {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}

.mailing-homepage {
  color: #ffffff;
}

.mailing-description {
  color: #000000;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 54px;
  margin-top: 0;
}

.mailing-email {
  flex-grow: 1;
  padding: 12px 20px;
  width: 412px;
  font: inherit;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
  outline: none;
  margin: 0;
}

.mailing-description-homepage {
  color: #ffffff;
}

.mailing-button {
  border-radius: 0 4px 4px 0;
  flex-grow: 0;
}

/* Footer contact*/

.footer-bottom {
  display: flex;
  justify-content: space-between;
  min-height: 120px;
  align-items: center;
  padding: 6px 70px 0 68px;
  background-color: #ffffff;
}

.footer-social ul {
  list-style: none;
}

.footer-social-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  width: 48px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon:hover path,
.social-icon:focus path {
  fill: #68a2ca;
}

.social-icon:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.footer-contacts-phone:hover,
.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  display: inline-block;
}

.htmlacademy-link:hover path,
.htmlacademy-link:focus path {
  fill: #756157;
}

.htmlacademy-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

/* Catalog */

/* Catalog Filter*/

.catalog-search {
  background: #000000 url("../images/content/background-filter.jpg") center no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 35px 70px 70px;
}

.catalog-header {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 0;
}

.breadcrumbs {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  padding: 0;

}

.breadcrumbs-item {
  margin-right: 28px;
  position: relative;
}

.breadcrumbs-link {
  cursor: pointer;
  font-size: 16px;
}

.breadcrumbs-link-house:hover path {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-house:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item::before {
  content: "";
  background: url("../images/icons/breadcrumbs-arrow.svg") no-repeat;
  display: block;
  width: 6.39px;
  height: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -17px;
}

.breadcrumbs-item:first-child::before {
  display: none;
}

.catalog-filter {
  display: flex;
  max-width: 1060px;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-group-checkbox {
  min-width: 151px;
  margin-right: 70px;
}

.catalog-filter-group-radio {
  min-width: 151px;
  margin-right: 141px;
}

.catalog-item-price {
  width: 288px;
  margin: 0;
  padding: 0;
  margin-right: 70px;
}

.catalog-item-legend {
  margin-bottom: 32px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-search-item {
  border: none;
}

.control-input {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
}

.control-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control:hover .control-description,
.control:focus .control-description {
  color: rgba(255, 255, 255, 0.6);
}

.control:active .control-description {
  color: rgba(255, 255, 255, 0.3);
}

.control-mark-checkbox {
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}

.control:hover input[type="checkbox"]+.control-mark-checkbox,
input[type="checkbox"]:hover+.control-mark-checkbox {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus input[type="checkbox"]+.control-mark-checkbox,
input[type="checkbox"]:focus+.control-mark-checkbox {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px #83b3d3;
}

.control:active input[type="checkbox"]+.control-mark-checkbox,
input[type="checkbox"]:active+.control-mark-checkbox {
  background-color: rgba(255, 255, 255, 0.3);
}

input[type="checkbox"]:checked+.control-mark-checkbox::before {
  position: absolute;
  left: 7px;
  bottom: 9px;
  width: 10px;
  height: 2px;
  background-color: #3f5e72;
  content: "";
  transform: rotate(-44deg);
}

input[type="checkbox"]:checked+.control-mark-checkbox::after {
  position: absolute;
  left: 4px;
  bottom: 7px;
  width: 6px;
  height: 2px;
  background-color: #3f5e72;
  transform: rotate(50deg);
  content: "";
}

input[type="checkbox"]:disabled+.control-mark-checkbox,
.control input[type="checkbox"]:disabled+.control-mark-checkbox,
input[type="checkbox"]:disabled~.control-description,
.control input[type="checkbox"]:disabled~.control-description {
  opacity: 0.3;
  cursor: auto;
}

input[type="checkbox"]:disabled+.control-mark-checkbox,
.control input[type="checkbox"]:disabled+.control-mark-checkbox {
  background-color: #ffffff;
}

input[type="checkbox"]:disabled~.control-description,
.control input[type="checkbox"]:disabled~.control-description {
  color: #ffffff;
}

.control-mark-radio {
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.control:hover input[type="radio"]+.control-mark-radio,
input[type="radio"]:hover+.control-mark-radio {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus input[type="radio"]+.control-mark-radio,
input[type="radio"]:focus+.control-mark-radio {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px #83b3d3;
}

.control:active input[type="radio"]+.control-mark-radio,
input[type="radio"]:active+.control-mark-radio {
  background-color: rgba(255, 255, 255, 0.3);
}

input[type="radio"]:checked+.control-mark-radio::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
  content: "";
}

input[type="radio"]:disabled+.control-mark-radio,
.control input[type="radio"]:disabled+.control-mark-radio,
input[type="radio"]:disabled~.control-description,
.control input[type="radio"]:disabled~.control-description {
  opacity: 0.3;
  cursor: auto;
}

input[type="radio"]:disabled+.control-mark-radio,
.control input[type="radio"]:disabled+.control-mark-radio {
  background-color: #ffffff;
}

input[type="radio"]:disabled~.control-description,
.control input[type="radio"]:disabled~.control-description {
  color: #ffffff;
}

/* Range price */

.range-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
}

.catalog-filter-label {
  position: absolute;
  top: 25%;
  color: #000000;
  opacity: 0.3;
}

.catalog-item-text-from {
  left: 106px;
}

.catalog-item-text-to {
  right: 20px;
}

.catalog-item-field {
  padding: 10px 16px;
  font: inherit;
  background: #f2f2f2;
  outline: none;
  width: 143px;
  box-sizing: border-box;
  line-height: 24px;
  border: 2px solid transparent;
  font-weight: 700;
}

.catalog-item-field:hover {
  background: #e6e6e6;
}

.catalog-item-field:focus {
  background: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
}

.catalog-item-field:active {
  background: #f2f2f2;
  border-color: #000000;
}

.catalog-item-field:disabled {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: none;
  border-color: transparent;
  background: #f2f2f2;
}

.catalog-field-left {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.catalog-field-right {
  border-radius: 0 4px 4px 0;
}

/* Range bar */

.range-base {
  position: relative;
  height: 4px;
  background-color: #ffffff4d;
}

.range-bar {
  width: 225px;
  background-color: #ffffff;
  height: 4px;
}


.range-button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-button:focus {
  box-shadow: 0 0 0 3px #83b3d3, 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-button:active {
  box-shadow: 0 0 0 2px #83b3d3, 0 7px 15px rgba(0, 0, 0, 0.4);
}

.range-button-left {
  top: -8px;
}

.range-button-right {
  left: 205px;
  top: -8px;
}

.form-reset-button {
  margin-top: 32px;
}

/* Button sorting */

.actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 56px;
  width: 191px;
}

.actions .button+.button {
  margin-top: 32px;
}

.actions .button {
  width: 100%;
}

/* Search Hotel */

.cards-view ul {
  list-style: none;
  padding: 0;
  margin: 0 0 -5px 0;
}

.cards-view {
  padding: 50px 70px 60px;
}

.cards-view-header {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.appearance-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: -5px;
}

.appearance-item {
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.appearance-item:last-child {
  margin-right: 0;
}

.cards-view-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 18px 20px;
  margin-bottom: 40px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.cards-view-header-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
}

.cards-view-header-sorting {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background: url("../images/icons/arrow.svg") no-repeat;
  background-position: right 20px center;
  color: #333333;
  appearance: none;
  margin-left: auto;
  margin-right: 70px;
  padding: 12px 20px;
  min-width: 292px;
  font-family: "PT Sans", sans-serif;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.cards-view-header-sorting:hover,
.scards-view-header-sorting:focus {
  border-color: #68a2ca;
}

.cards-view-header-sorting:active {
  border-color: #3f5e72;
}

.cards-view-header-sorting:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  opacity: 0.3;
}

.appearance-btn {
  width: 48px;
  height: 48px;
  display: block;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
}

.appearance-btn:hover,
.appearance-btn:active {
  border-color: #000000;
}

.appearance-btn:focus {
  border-color: #68a2ca;
}

.appearance-btn-cards {
  background: url("../images/icons/appearance-cards.svg") no-repeat center;
  border-color: #000000;
}

.appearance-btn-slider {
  background: url("../images/icons/appearance-slider.svg") no-repeat center;
}

.appearance-btn-list {
  background: url("../images/icons/appearance-list.svg") no-repeat center;
}

/* Hotels */

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}

.cards-item {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.cards-item-link {
  text-decoration: none;
  color: inherit;
  line-height: 0;
}

.cards-item-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 16px 0;
}

.cards-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards-buttons {
  display: flex;
  align-items: center;
  margin: 16px 0;
  justify-content: space-between;
}

.cards-item-type,
.cards-item-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  flex-basis: 140px;
  margin-top: 0;
  margin-bottom: 0;
}

.cards-item-price {
  text-align: right;
}

.cards-buttons-button {
  width: 140px;
}

.cards-buttons-button .button {
  width: 100%;
}

.cards-range {
  display: flex;
  align-items: center;
}

.range {
  flex-basis: 140px;
}

.starring-range {
  height: 17px;
  width: 0;
  background: url("../images/icons/star.svg") 0 center no-repeat,
    url("../images/icons/star.svg") 24px center no-repeat,
    url("../images/icons/star.svg") 48px center no-repeat,
    url("../images/icons/star.svg") 72px center no-repeat,
    url("../images/icons/star.svg") 96px center no-repeat;
}

.rating-value-1 {
  width: 18px;
}

.rating-value-2 {
  width: 42px;
}

.rating-value-3 {
  width: 66px;
}

.rating-value-4 {
  width: 90px;
}

.rating-value-5 {
  width: 114px;
}

.cards-item-range {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #f2f2f2;
  text-transform: uppercase;
  color: #333333;
  margin-left: 20px;
  flex-basis: 140px;
  box-sizing: border-box;
  padding: 9px 0 8px;
  min-width: 140px;
  min-height: 37px;
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 0;
}

/*  Pagination  */

.cards-pagination-inner {
  margin-top: 43px;
}

.cards-pagination-inner::before {
  content: "";
  display: block;
  flex-grow: 1;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 40px;
}

.cards-pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -5px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.cards-pagination-item {
  margin-bottom: 5px;
}

.cards-pagination-item:not(:last-child) {
  margin-right: 8px;
}

.cards-pagination-link {
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  min-width: 60px;
  height: 60px;
  padding: 12px 18px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
}

.cards-pagination-link-current {
  color: #000000;
  background: #f2f2f2;
}

.cards-pagination-link-dots {
  color: #000000;
  background: transparent;
}

.cards-pagination-link-active:hover {
  background-color: #68a2ca;
}

.cards-pagination-link-active:focus {
  background-color: #68a2ca;
}

.cards-pagination-link-active:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

/* Modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 100;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 717px;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  margin: 64px 52px 0 0;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button::after,
.modal-close-button::before {
  position: absolute;
  left: 20px;
  width: 15px;
  height: 2px;
  background-color: #000000;
  content: "";
}

.modal-close-button::after {
  transform: rotate(45deg);
}

.modal-close-button::before {
  transform: rotate(-45deg);
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  outline: none;
  opacity: 0.3;
}

.modal-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 64px;
  margin-top: 0;
}

.modal-lable {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.modal-lable-child {
  display: flex;
  align-items: center;
  margin-right: 46px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-counter-wrapper {
  display: flex;
  margin-bottom: 48px;
}

.modal-date {
  box-sizing: border-box;
  width: 440px;
  margin-left: 24px;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: url("../images/icons/calendar-modal.svg") no-repeat 402px 50% #f2f2f2;
  color: #000000;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
}

.modal-date::placeholder {
  color: #000000;
  opacity: 0.6;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.departure-modal-date {
  margin-left: 18px;
}

.modal::before {
  position: absolute;
  top: 216px;
  left: 227px;
  width: 280px;
  font-size: 16px;
  color: #ff5757;
  content: "Мы не можем отправить вас в прошлое.";
}

.modal::after {
  position: absolute;
  top: 312px;
  left: 227px;
  width: 331px;
  font-size: 16px;
  color: #333333;
  content: "На эти даты есть свободные номера. Пока есть.";
}

.modal-date:hover {
  background-color: #e6e6e6;
}

.modal-date:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-date:active {
  background-color: #ffffff;
  outline: 2px solid #000000;
}

.lable-adult {
  margin-top: 12px;
  margin-bottom: 0;
  height: 24px;
  margin-right: 46px;
}

.lable-child {
  margin-right: 10px;
  margin-bottom: 0;
}

.item-counter-wrapper {
  display: flex;
  margin-right: 88px;
  min-width: 110px;
  height: 48px;
}

.button-counter {
  position: relative;
  width: calc(100%/3);
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #f2f2f2;
}

.button-counter-minus svg {
  position: absolute;
  top: 23px;
  left: 13px;
  fill: rgba(0, 0, 0, 0.3);
}

.button-counter-plus svg {
  position: absolute;
  top: 17px;
  left: 13px;
  fill: rgba(0, 0, 0, 0.3);
}

.button-counter-minus {
  border-radius: 4px 0 0 4px;
}

.button-counter-plus {
  border-radius: 0 4px 4px 0;
}

.counter-result {
  width: calc(100%/3);
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  border: none;
  background-color: #f2f2f2;
}

.button-counter:hover svg {
  fill: #000000;
}

.button-counter:focus {
  outline: 3px solid #83b3d3;
}

.button-counter:focus svg {
  fill: #000000;
}

.button-counter:active {
  outline: none;
}

.button-counter:active svg {
  fill: rgba(0, 0, 0, 0.2);
}

/* Тултип */

.tooltip {
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.tooltip-toogle {
  display: block;
  height: 26px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.tooltip-toogle svg {
  width: 26px;
  height: 26px;
  fill: #83b3d3;
}

.tooltip-toogle:hover svg {
  fill: #68a2ca;
}

.tooltip-toogle:focus svg {
  fill: #68a2ca;
}

.tooltip-text {
  position: absolute;
  left: -115px;
  display: none;
  box-sizing: border-box;
  width: 256px;
  margin-top: 16px;
  padding: 19px 18px 22px 22px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border-radius: 10px;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.tooltip:hover .tooltip-text,
.tooltip:focus .tooltip-text {
  display: block;
}


.tooltip-text::before {
  position: absolute;
  top: -28px;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  border: 18px solid transparent;
  border-bottom: 19px solid #333333;
  content: "";
}
