@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

/* Reset */

ul {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
hr {
  margin-top: 0;
  margin-bottom: 0;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0;
}

*:focus {
  outline: none;
}

/* General */

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background: #F2F2F2;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-header,
.main,
.page-footer {
  margin: 0 auto;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  flex-grow: 1;
  background-color: #FFFFFF;
}

/* Pages */

/* Components */

.button {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 14px;
  cursor: pointer;
  display: block;
  width: 100%;
}

button.button {
  margin: 0;
  border: none;
}
a.button {
  text-decoration: none;
  box-sizing: border-box;
}

.button-round-left-none {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.button-color-brown {
  background-color: #756157;
}
.button-color-blue {
  background-color: #82B3D3;
}
.button-color-green {
  background-color: #7DB54F;
}
.button-color-transparent {
  background-color: transparent;
}

.button:hover {}
.button:focus {}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
.button-state-disabled {}

.button-color-brown.button:hover {
  background-color: #615048;
}
.button-color-brown.button:focus {
  background-color: #615048;
}

.button-color-blue.button:hover {
  background-color: #68A2CA;
}
.button-color-blue.button:focus {
  background-color: #68A2CA;
}

.button-color-green.button:hover {
  background-color: #6C9E42;
}
.button-color-green.button:focus {
  background-color: #6C9E42;
}

.button-color-transparent.button:hover {
  opacity: 0.6;
}
.button-color-transparent.button:focus {
  border: 3px solid #83B3D3;
}
.button-color-transparent.button:disabled {
  opacity: 0.1;
}

.button-size-big {
  border-radius: 10px;
  height: 60px;
  font-size: 20px;
  line-height: 24px;
  padding: 18px 20px;
}
.button-size-medium {
  border-radius: 4px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

/* Header */

.page-header {
  height: 64px;
  z-index: 1;
}

.navigation {
  width: 1200px;
  display: flex;
  margin: 0 auto;

}

.navigation-list {
  max-width: 610px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}

.navigation-logo {
  margin-left: 70px;
}


.navigation-user {
  min-width: 300px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.page-header {
  color: #000000;
  background: #FFFFFF;
}

.navigation ul {
  list-style: none;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  padding: 20px 16px;
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
  display: block;
}

.count{
position: absolute;
top: 11px;
left: 20px;
display: flex;
justify-content: center;
align-items: center;
width: 20px;
height: 20px;
margin: auto;
font-size: 10px;
font-weight: 400;
line-height: 10px;
color: #ffffff;
background-color: #7DB54F;
border-radius: 10px;
}

.header-button{
  display: block;
  margin-top: 14px;
  margin-right: 70px;
  margin-left: 20px;
  width: 160px;
}




/* body */

.presentation {
  background: url("../images/content/background.jpg") center no-repeat;
  background-size: cover;
  background-color: #000000;
  min-height: 485px;
  position: relative;
}

.presentation-picture-welcome {
  padding-top: 51px;
  margin: auto;
  display: block;
}

.presentation::after {
  content: "";
  background: url("../images/content/divider.svg") no-repeat;
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 57px;
}

.presentation-text {
  height: 282px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.presentation-text-sedona {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.presentation-text-reason {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* Advantages Blocks*/

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  background: #ffffff;
  display: flex;
  width: 33.33%;
  min-height: 384px;
}

.grid-item-wide {
  width: 100%;
}

.grid-item-type-1 {
  background-color: #f0f6fa;
}

.grid-item-type-2 {
  background-color: #e6f0f6;
}

.grid-item-type-3 {
  background-color: #82B3D3;
}

.grid-item-title {
  color: #000000;
}

.grid-item-description {
  color: #333333;
}

.grid-item-type-3 .grid-item-title,
.grid-item-type-3 .grid-item-description {
  color: #ffffff;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.cell-icon {
  margin-bottom: 30px;
}

.cell-icon-housing {
  background: url("../images/icons/hotel.svg") center no-repeat;
  width: 75px;
  height: 72px;
}

.cell-icon-food {
  background: url("../images/icons/food.svg") center no-repeat;
  width: 74px;
  height: 70px;
}

.cell-icon-gifts {
  background: url("../images/icons/souvenirs.svg") center no-repeat;
  width: 64px;
  height: 76px;
}

.cell-title {
  margin-bottom: 30px;
}

.cell-divider {
  margin-bottom: 30px;
  width: 58px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.grid-item-type-3 .cell-divider {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.advantages {
  text-align: center;
}

.advantages ul {
  list-style: none;
}

.grid-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.grid-item-description {
  color: #333333;
}

/* Find Hotel */

.hotel-search {
  text-align: center;
  height: 406px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hotel-search-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.hotel-search-info {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin-bottom: 54px;
}

.hotel-search-wrapper{
  max-width: 376px;
  margin: 0 auto 96px;
}



/* Footer subscription*/

.subscription {
  background: #FFFFFF;
  background-size: cover;
  height: 411px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subscription-homepage {
  background: #000000 url("../images/content/subscribe-background.jpg") center no-repeat;
}

.subscription-form {
  display: flex;
  width: 684px;
  min-height: 52px;
  margin: 0 auto;
  justify-content: center;
}

.mailing {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.mailing-homepage {
  color: #FFFFFF;
}

.mailing-description {
  color: #000000;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 54px;
}

.mailing-email{
  flex-grow: 1;
  padding: 14px 345px 14px 20px;
  font: inherit;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
  outline: none;
  margin: 0;
}

.mailing-description-homepage {
  color: #FFFFFF;
}

.mailing-button {
  border-radius: 0 4px 4px 0;
}

/* Footer contact*/

.footer-bottom {
  display: flex;
  justify-content: space-between;
  Height: 120px;
  align-items: center;
  padding: 10px 70px 0;
  background-color: #FFFFFF;
}

.footer-social ul {
  list-style: none;
}

.footer-social-list {
  display: flex;
  align-items: center;
}

.footer-social-item {
  width: 48px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon:hover path,
.social-icon:focus path{
  fill: #68A2CA
}

.social-icon:active path{
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.footer-contacts-phone:hover,
.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link:hover path,
.htmlacademy-link:focus path {
  fill: #756157;
}

.htmlacademy-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

/* Catalog */

/* Catalog Filter*/

.catalog-search {
  background: #000000 url("../images/content/background-filter.jpg") center no-repeat;
  background-size: cover;
  color: #FFFFFF;
  padding: 35px 70px 70px;
}

.catalog-header {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  margin-right: 28px;
}

.breadcrumbs-link-house {
  background: url("../images/icons/breadcrumbs.svg") center no-repeat;
  background-size: cover;
  color: #FFFFFF;
  width: 12px;
  height: 12px;
}

/* .breadcrumbs-item::before {
  content: "";
  background: url("../images/icons/breadcrumbs-arrow.svg") no-repeat;
  display: block;
  width: 6.39px;
  height: 10px;
}

.breadcrumbs-link-house:before {
  display: none;
} */

.catalog-filter {
  display: flex;
  max-width: 1060px;
  /* justify-content: space-between; */
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-group-checkbox{
  min-width: 151px;
  margin-right: 70px;
}

.catalog-filter-group-radio{
  min-width: 151px;
  margin-right: 141px
}

.catalog-item-price {
  width: 288px;
  margin: 0;
  padding: 0;
  margin-right: 70px;
}

.catalog-item-legend{
  margin-bottom: 32px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-search-item {
  border: none;
}

.control-input {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
}

.control-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}


/* Range price */

.range-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.catalog-filter-label{
  position: absolute;
  top: 25%;
  color: #000000;
}

.catalog-item-text-from{
  left: 106px;
}

.catalog-item-text-to{
  right: 20px;
}

.catalog-item-field{
  padding: 12px 20px;
  font: inherit;
  background: #F2F2F2;
  outline: none;
  border: none;
  width: 143px;
  box-sizing: border-box;
  line-height: 24px;
}

.catalog-field-left{
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.catalog-field-right{
  border-radius: 0 4px 4px 0;
}

/* Range bar */

.range-base{
  position: relative;
  height: 4px;
  background-color: #ffffff4d;
}

 .range-bar{
  width: 226px;
  background-color: #FFFFFF;
  height: 4px;
 }

 .range-button{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
 }

 .range-button-left{
  top:-8px;
 }

 .range-button-right{
  left: 226px;
  top:-8px;
 }

/* Button sorting */

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 56px;
  width: 191px;
}

/* Search Hotel */

.cards-view ul {
  list-style: none;
}

.cards-view {
  padding: 50px 70px 60px;
}

.cards-view-header {
  display: flex;
  margin-bottom: 40px;
}

.appearance-list {
  display: flex;
  align-items: flex-start;
}

.appearance-item {
  margin-right: 8px;
  display: flex;
  flex-direction: column;
}

.appearance-item:last-child {
  margin-right: 0;
}

.cards-view-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  margin-bottom: 40px;
}

.cards-view-header-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.cards-view-header-sorting {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background: url("../images/icons/arrow.svg") no-repeat;
  background-position: right;
  color: #333333;
  appearance: none;
  margin-left: auto;
  margin-right: 70px;
  padding: 14px 131px 14px 20px;
  min-width: 292px;
  font-family: "PT Sans", sans-serif;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.appearance-btn {
  width: 48px;
  height: 48px;
  display: block;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.appearance-btn:hover,
.appearance-btn:active{
  border-color: #000000;
}

.appearance-btn:focus{
  border-color: #68A2CA;
}

.appearance-btn-cards {
  background: url("../images/icons/appearance-cards.svg") no-repeat center;
  border-color: #000000;

}

.appearance-btn-slider {
  background: url("../images/icons/appearance-slider.svg") no-repeat center;
}

.appearance-btn-list {
  background: url("../images/icons/appearance-list.svg") no-repeat center;
}

/* Hotels */

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}

.cards-item {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
}

.cards-item-link {
  text-decoration: none;
  color: inherit;
}

.cards-item-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 16px 0;
}

.cards-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards-buttons {
  display: flex;
  align-items: center;
  margin: 16px 0;
  justify-content: space-between;
}

.cards-item-type,
.cards-item-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  flex-basis: 140px;
}

.cards-item-price {
  text-align: right;
}

.cards-buttons-button {
  width: 140px;
}

.cards-range {
  display: flex;
  align-items: center;
}

.range {
  flex-basis: 140px;
}

.starring-range {
  height: 17px;
  width: 0;
  background: url('../images/icons/star.svg') 0 center no-repeat,
              url('../images/icons/star.svg') 24px center no-repeat,
              url('../images/icons/star.svg') 48px center no-repeat,
              url('../images/icons/star.svg') 72px center no-repeat,
              url('../images/icons/star.svg') 96px center no-repeat;
}

.rating-value-1 {
  width: 18px;
}
.rating-value-2 {
  width: 42px;
}
.rating-value-3 {
  width: 66px;
}
.rating-value-4 {
  width: 90px;
}
.rating-value-5 {
  width: 114px;
}

.cards-item-range {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #F2F2F2;
  text-transform: uppercase;
  color: #333333;
  margin-left: 20px;
  flex-basis: 140px;
  box-sizing: border-box;
  padding: 9px 0 8px;
  min-width: 140px;
  min-height: 37px;
  border-radius: 4px;
}

/*  Pagination  */

.cards-pagination-inner {
  margin-top: 40px;
}

.cards-pagination-inner::before{
  content: '';
  display: block;
  flex-grow: 1;
  width: 100%;
  border-top: 1px solid #E6E6E6;
  margin-bottom: 40px;
}

.cards-pagination-list {
  display: flex;
}

.cards-pagination-item {
}

.cards-pagination-item:not(:last-child) {
  margin-right: 8px;
}

.cards-pagination-link {
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  color: inherit;
  width: 60px;
  height: 60px;
  line-height: 36px;
  font-weight: 700;
  padding: 12px 10px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
}

.cards-pagination-link-current {
  color: #000000;
  background: #F2F2F2;
}

.cards-pagination-link-dots {
  color: #000000;
  background: transparent;
}

.cards-pagination-link-active:hover{
  background-color: #68A2CA;
}

.cards-pagination-link-active:focus {
  background-color: #68A2CA;
}

.cards-pagination-link-active:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}
